html {
    font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Papyrus, fantasy;
    color: purple;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: gray;
}

li{
    display:inline-block
}

li a{
    display:block;
    padding: 16px;
    color: black;
}

li a:hover{
    background: #AAA
}

footer{
    background: #DDD;
    color: #555;
    padding: 16px;
    text-align:center;

}